header {
  position: sticky;
  top: 0;
  padding: 20px 0 20px;
  background-color: #b1d1f1;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  white-space: nowrap;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

header h1,
header a {
  font-size: 34px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  margin: 0;
}

header span {
  padding-right: 10px;
  font-size: 35px;
}

.active-link,
.active-link h1 {
  color: #6e6e6dff;
}
