@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  min-height: 100vh;
  background-image: linear-gradient(to top, #dce1f8 0%, white 90%);
}

body {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-size: 20px;
}

h2 {
  font-optical-sizing: auto;
  font-size: 34px;
  font-weight: 500;
  margin: 20px 0;
}

h3 {
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: #0020c2;
}
